# Environment
.env

# Python
__pycache__/
*.pyc
*.egg-info/

# Output files
output/
.cache/

# Job descriptions
jobs/

# Tmpe output files
tmp/

# Claude settings
.claude/

# Virtual environments
venv/
.env/
